<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>

    <style>

        body{
            font-family:Arial;
            background:#f4f4f4;
            padding:30px;
        }

        table{
            width:100%;
            border-collapse:collapse;
            background:white;
        }

        th,td{
            border:1px solid #ddd;
            padding:10px;
            text-align:center;
        }

        th{
            background:#0d6efd;
            color:white;
        }

        h2{
            text-align:center;
        }

    </style>

</head>

<body>

<h2>Attendance Records</h2>

<table>

<tr>

<th>ID</th>
<th>Roll No</th>
<th>Name</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>

</tr>

{% for row in records %}

<tr>

<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
<td>{{ row[3] }}</td>
<td>{{ row[4] }}</td>
<td>{{ row[5] }}</td>

</tr>

{% endfor %}

</table>

</body>
</html>