<!DOCTYPE html>
<html>

<head>

    <title>Cloud Attendance System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    

    <ul>

        <li><a href="/">Home/<a></li>

        <li><a href="/login">Login</a></li>

    </ul>

</nav>

<div class="container">

<h1>Cloud Based Student Attendance Management System</h1>

<p>

Attendance using Face Recognition and Cloud Technology

</p>

<button>

Start Project

</button>

</div>

</body>

</html>